.outer_banner_wrapper {
    position: relative;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
}

.container_fluid {
    padding: 0 20px;
    height: 100%;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
    height: 100%;
    align-items: center;
}
.colFour {
    margin: auto;
    flex: 0 0 auto;
    width: 33.33333333%;
}

.dataOuter {
    width: 400px;
    margin: 0 auto;
}
.loginForm {
    padding: 35px 40px;
    border-radius: 0;
    background: #FFF;
    box-shadow: 0px 30px 77px 0px rgba(0, 0, 0, 0.02);
    display: block;
}
.formWrapper h1{
    text-align: center;
    color: #222;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 35px;
}

.mb3 {
    margin-bottom: 1rem;
}
.formControl {
    width: 100%;
    padding: 9px;
    height: 40px;
    border: unset;
    box-shadow: 2px 3px 4px #b5b5b5;
    font-size: 15px;
    border-radius: 0;
    outline: unset !important;
    border-color: unset !important;
    cursor: pointer;
    -webkit-appearance: none;
    /* -moz-appearance: textfield; */
}

.allbtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.innerBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 28px 0px;
    margin-bottom: 28px; */
}

/* .innerBox p, .forget {
    color: #222;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
} */
.already {
    text-decoration: none;
    margin: 12px 0px;
    color: #222;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.customBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 50px;
    gap: 5px;
    border-radius: 8px;
    border: 1px solid #F2F2F2;
    background: #FFED00;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: 0.5s all;
    cursor: pointer;
    width: 100%;
}

.customBtn:hover {
    background: #000;
    color: #fff;
}

.btnColor {
    background: transparent;
    border: 1px solid #222;
}